.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .navbar{
    border-bottom: 1px solid lightgray; 
}
h2 {
  padding-left: 20px;
}
div.modal-header {
  display: flex;
}
h5 {
  width: 90%;
}
div.modal-title {
  padding-left: 20px;
}

.margen{
    margin-top: 70px; justify-content: center;
}
input {
  width: 100%; height: 100px;
}

.img {
  width: 100%;
}
.container-fluid {
  padding: 10px
}
.siguiente {
  margin-top: 5px;
}

.card{
  margin: 40px auto;
  width: 600px;
}
.card-header{
  padding: .75rem 15px;
}

.btn-link{
  float: right;
  color: gray;
  padding-right: 0px;
}
.card-body{
  padding: 15px;
}
.comentario{
  color: #CDCCCC;
  display: inline-block;
  width: 88%;
}